.cardProfile {
    width: 400px;   
	background-color: #b8b8b86e;
    /* cursor: pointer; */
    transition: all 0.5s;
	border-radius: 8%;
	}

	.cardProfileEdit{
		width: 400px;   
		background-color: #b8b8b86e;
		/* cursor: pointer; */
		transition: all 0.5s;
		border-radius: 8%;
		height: 600px;
	}

	.profilePicEdit{
		margin-top: 20px;
	}

.profilePictureLabel{
	color: rgb(223, 219, 4)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    /* margin-bottom: -20px; */

}




@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-10px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-50px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-10px);
	}
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
    background-color: black;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 10px 0px rgba(185, 40, 40, 0.6);
	transform: translatey(10px);
	animation: float 6s ease-in-out infinite;
	/* img { width: 100%; height: auto; } */
}

.profileBtn{
	color: black;
	text-decoration: none;
	font-size: 1.3em;
}

.profileBtn:hover {
	color: rgb(223, 219, 4);
	text-decoration: none;
	font-size: 1.3em;
}

.profilePic{
	
	border-radius: 50%;
	width: 100%;
	height: 100%
}

#profilePicBubble{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-group-prepend {
	margin-top: 10px
}