/* 
COLORS
YELLOW =  color: rgb(240, 236, 15);
 


 .card {
   background-color: #dadadaBa;
 }


*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bungee&display=swap');

body {
  font-family: 'Roboto';
}

.testDiv{
  margin-top: 150px;
}

.navBar{
  position: fixed;
  background-color: rgb(0, 0, 0, 0.550);
  display: block;
  z-index: 99;
  top: 0;
  width:100%
} 

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
/*   background-color: #cccccc; */
  background-color: rgba(0, 0, 0, 0.450);
  background-clip: border-box;
  border-radius: 0.25rem;
  color: ghostwhite;
  -webkit-box-shadow: 0px 0px 14px 5px #cccccc; 
box-shadow: 0px 0px 14px 5px #cccccc; 
margin-bottom: 20px;
}

.logo {
  width: 200px;
}

.logo:hover {
  cursor:cell;
}

#appLink {
  color: rgb(240, 236, 15);
}

#appLink:hover {
  color: ghostwhite;
}


.landing-page-welcome {
  margin-left: 10%;
}
.marginFix {
  font-family: 'Bungee', cursive;
  margin-bottom: 30px;
  color: rgb(240, 236, 15);
  font-size: 3em;
}

.welcomeText{
  text-align: center;
  font-size: 2em;
  
}

.welcomeTextContainer{
  font-family: 'Bungee', cursive;
  color: rgb(245, 247, 221);
  padding: 10px 20px;
}




  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(-10px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-40px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(-10px);
    }
  }
  
.landingBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}




.avatar2 {
  width: 400px;
  height: 60px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background: transparent;
  border: 1px solid rgb(240, 236, 15);
  margin: 50px 
}

.avatar2:hover {
  color: rgb(240, 236, 15)
}

.avatarLink{
  font-family: 'Bungee', cursive;
  color: rgb(240, 236, 15);
  text-decoration: none;
  }

  .apodComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apodCard {
    margin-bottom: 50px;
  }

  .apodBdayForm{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .apodBdayForm > button{
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;

  }

  .bDayInput{
width: 300px;
height: 40px;
margin: 10px;
background-color: #dadadaBa;
border-style: none;
text-align: center;
  }

  .apodH1{
    margin-top: 100px;
  }

  .apodTextCard{
    color: ghostwhite
  }

/*   .missionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .missionCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-card{
  margin: 10px;
}

.missionTitles{
  font-family: 'Bungee', cursive;
  color: rgb(245, 247, 221);
  margin-bottom: 30px;
  text-align: center;
}

.input-group{
width: 900px;
margin-bottom: 40px;

}

.searchBarComponent{
  display: flex;
  justify-content: center;
  
}

.applyBtn{
  border: none;
  font-size: 15px;
  color: rgb(223, 219, 4)
}

.applyBtn:hover{
  border: none;
  font-size: 20px;

}

.missionDetailsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#profileEditCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.test{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 236, 15);

}

/* .mb-3{
  background-color: #dadadaBa;
} */

.myMissionsContainer{
  display: flex;
  justify-content: space-evenly;
}

.missionsApply{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

#editMission{
  margin-top: 0;
  margin-bottom: 0;
}

.list-group-flush{
  line-height: 30px;
}


#ratingStars{
  font-size: 50px;
  align-self: center;
  border: 1px solid ghostwhite;
  border-radius: 10%;
  margin: 30px;
  padding: 30px;
}

.reviewContainer{
  text-align: center;
}

.reviewCardTitle{
  margin-top: 50px
}

.reviewBtn{
  color: black;
	text-decoration: none;
	font-size: 1.3em;
  color: ghostwhite;
  border: none;
  margin-bottom: 10px;
}

.reviewBtn:hover{
  color: rgb(240, 236, 15);
}

.selectInput{
  color: black;
}

.aboutText{
  width: 80%;
  line-height: 1.5em;
  font-family: 'Roboto';
  font-size: 1.5em;
  text-align: center;
}

.aboutPageContainer{
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  align-items: center;
}

.footer{
  margin-top: 100px;
  text-decoration: none;
  color: ghostwhite;
 letter-spacing: 10px;
}

.footer > a{
  margin: 0;
  color: ghostwhite;
  text-decoration: none;
  letter-spacing: 10px;
} 

.footer > a:hover{
color: rgb(240, 236, 15);
} 

@media only screen and (max-width: 450px) {
  .landingBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .avatar2 {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .welcomeText{
    font-size: 25px;
  }
  .welcomeTextContainer{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:8px;
    margin-right:8px;
  }

  .myMissionsContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .missionsApply{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

}